{
  "extends": [
    "react-app"
  ],
  "plugins": ["react"],
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true
  },
  "rules": {
    "sort-imports": [2,{
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }],
    "sort-keys": 2
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}